<footer>
   <div class="footer-content">
     <div class="row">
    
     <div class="large-4 small-12 columns">
      <h3> Social </h3>
      <ul class="no-bullet">
        <li><i class="fi-mail"></i><a href="mailto:crs@sheffield.ac.uk">crs@sheffield.ac.uk</a></li>
        <!--<li><i class="fi-social-twitter"></i><a href="#">Twitter</a></li>-->
       </ul>
     </div>
     <div class="large-4 small-12 columns">

     </div>
     <div class="large-4 small-12 columns">

     </div>
     </div>
       
   </div>
   <div class="footer-cr">
    <div class="large-12 columns">
         <div class="row">
           <div class="large-3 small-6 columns">
              <p> CRS Committee 2014</p>
            </div>
         <div class="large-3 small-6 columns"> 
          <ul class="inline-list right">
           <li>
            <p class="rss-subscribe"><i class="fi-rss"></i>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
           </li>
          </ul>
        </div>
      </div>
    </div> 
   </div>

</footer>
    
